include Readme.txt setup.py MANIFEST.in
exclude *.pyc *~ __pycache__
recursive-include doc *.txt
recursive-include examples *.py  *.cif  *.spt
recursive-exclude examples *.pyc  __pycache__
recursive-include geom *.py
recursive-exclude geom *.pyc  __pycache__
recursive-include scripts *
recursive-include xtal *.py *.cif
recursive-exclude xtal *.pyc  __pycache__

