include Readme.rst setup.py MANIFEST.in
exclude *.pyc *~ __pycache__

recursive-include doc *.txt *.rst

recursive-include examples *.py  *.cif  *.spt *.txt *.spc
recursive-exclude examples *.pyc  __pycache__

recursive-include scripts *

recursive-include xtal *.py *.cif
recursive-exclude xtal *.pyc  __pycache__ 
prune xtal/_bvparams

recursive-include xtlgeo *.py
recursive-exclude xtlgeo *.pyc  __pycache__


